<div><%= review.tour.tour_name %>:
<%= review.tour.tour_description %>
<% review.rating.times do%>
<image_tag "http://findicons.com/files/icons/2166/oxygen/48/rating.png">
<%= "star" %>
<%end%>
</div>